.responsiveTable tbody tr {
  border-bottom: 1px solid #000 !important;
  padding: 0.25em;
}

@media screen and (max-width: 40em) {
  .responsiveTable tbody tr {
    /* border-bottom: 1px solid #000 !important; */
    border: none !important;
    border-bottom: 3px solid #17a92f !important;
    padding: 0.25em;
  }
  .responsiveTable tbody tr:last-child {
    /* border-bottom: 1px solid #000 !important; */
    border-bottom: none !important;
    padding: 0.25em;
  }
}
